langchain
ipykernel
python-dotenv # why need this => because to access all items from .env file to our ipynb file
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
lxml
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_ollama
streamlit
langchain_groq
pycountry
fastapi
uvicorn
langserve
sse_starlette
chromadb
duckduckgo-search
google-api-python-client
google-search-results
validators==0.28.1
youtube_transcript_api
unstructured
pytube==12.1.0
yt_dlp
numexpr
cassio #  need to install cassio so we can connect out astra db from cloud 

# pinecone(Hybrid Search)
pinecone-client
pinecone-text
pinecone-notebooks

# graph DB
PyPDF2
neo4j==5.14
lamini

flask
flask_sqlalchemy
psycopg2
flask-cors

pymongo
dnspython
tabulate

together
tiktoken

googletrans==4.0.0-rc1
docx
exceptions